@model EventStore.Web.Models.ViewEntityDetailsModel

@{
    ViewBag.Title = "View Entiy Details";
}

<br />

<table cellpadding="15px">

    <tr>
        <td colspan="2">
            @Html.ActionLink("View History", "History", new { CollectionName = "", EntityId = Model.HospitalDetails.Id })
        </td>
    </tr>

    <tr>
        <td><strong>Id: </strong></td>
        <td>@Model.HospitalDetails.Id</td>
    </tr>

    <tr>
        <td><strong>Stream Id: </strong></td>
        <td>@Model.HospitalDetails.StreamId.ToString()</td>
    </tr>

    <tr>
        <td><strong>Hospital Id: </strong></td>
        <td>@Model.HospitalDetails.HospitalId</td>
    </tr>

    <tr>
        <td><strong>Name: </strong></td>
        <td>@Model.HospitalDetails.Name</td>
    </tr>

    <tr>
        <td><strong>Address: </strong></td>
        <td>@Model.HospitalDetails.Address</td>
    </tr>

    <tr>
        <td><strong>City: </strong></td>
        <td>@Model.HospitalDetails.City</td>
    </tr>

    <tr>
        <td><strong>State: </strong></td>
        <td>@Model.HospitalDetails.State</td>
    </tr>

    <tr>
        <td><strong>ZipCode: </strong></td>
        <td>@Model.HospitalDetails.ZipCode</td>
    </tr>

    <tr>
        <td><strong>County: </strong></td>
        <td>@Model.HospitalDetails.CountyName</td>
    </tr>

    <tr>
        <td><strong>Phone Number: </strong></td>
        <td>@Model.HospitalDetails.PhoneNumber</td>
    </tr>

    <tr>
        <td><strong>Type: </strong></td>
        <td>@Model.HospitalDetails.Type</td>
    </tr>

    <tr>
        <td><strong>Ownership: </strong></td>
        <td>@Model.HospitalDetails.Ownership</td>
    </tr>

    <tr>
        <td><strong>Emergency Services: </strong></td>
        <td>@Model.HospitalDetails.EmergencyServices.ToString()</td>
    </tr>

    <tr>
        <td colspan="2">
            @Html.ActionLink("<< Back to collection", "ViewEntities", new { CollectionName = Model.CollectionName })
        </td>
    </tr>
</table>